# jupyter
notebooks/

# doc builds
docs/
positive_ai-generated/

# data folder
data/

# PyCharm
.idea/

# cache files
__pycache__/
.cache/

# packaging
build/
dist/
*.egg-info/

# doc build
sphinx/build/
